name: release
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: git tag v2
      - run: git push --tags --force
